body {
  background-color: #34495e;
}

.btn {
  cursor: pointer;
}

body {
  color: #2c3e50;
}
.main {
  text-align: center;
  font-size: 30px;
  margin-top: 300px;
}

.js-toDoList {
  color: white;
  font-size: 25px;
}

.js-greetings {
  font-size: 25px;
  line-height: 1;
  letter-spacing: 0.02em;
  font-style: italic;
  font-weight: 400;
}

.js-toDoForm {
  font-size: 28px;
  line-height: 1;
  font-weight: 400;
  font-style: italic;
}

.form,
.greetings {
  display: none;
  color: aliceblue;
}

.showing {
  display: block;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.bgImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; /* 0일경우 다른 css를 덮어서 배경으로 쓰기위해 -1지정*/
  animation: fadeIn 0.5s linear;
}

.js-clock {
  text-align: center;
  margin-top: 200px;
  color: rgb(251, 251, 251);
  font-size: 60px;
}

.js-form {
  font-size: 20px;
}
